





/* Cores */
:root {

    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);

/* Tipografia */    
    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;

    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


/* Transição */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

/* Espaçamento */
    --section-padding: 60px;    


}



/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
table,
tbody,
button,
ion-icon { display: block; }


button,
input {
    font: inherit;
    background: none;
    border: none;
}

input { width: 100%; }

button { cursor: pointer; }


address {
    font-style: normal;
    line-height: 1.8;
}

html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-size: 1.6rem;
    padding-block-start: 90px;
}

::-webkit-scrollbar { 
    width: 10px; 
}

::-webkit-scrollbar-track { 
    background: hsl(0, 0%, 95%); 
}

::-webkit-scrollbar-thumb { 
    background: hsl(0, 0%, 80%); 
}

::-webkit-scrollbar-thumb:hover { 
    background: hsl(0, 0%, 70%); 
}


/* REUSED STYLE */
.container { 
    padding-inline: 15px; 
}

.section { 
    padding-block: var(--section-padding); 
}

.h1,
.h2,
.h3,
.h4 { 
    color: var(--rich-black-fogra-29); 
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 { 
    font-size: var(--fs-2); 
}

.h3 { 
    font-size: var(--fs-4); 
}

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
    background: var(--background, var(--bittersweet));
    color: var(--color, var(--white));
    font-size: var(--fs-5);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 14px 25px;
    border: 1px solid var(--border-color, var(--bittersweet));
}
  
.btn-primary:is(:hover, :focus) {
    --background: var(--salmon);
    --border-color: var(--salmon);
}
  
.btn-secondary {
    --background: transparent;
    --border-color: var(--black);
    --color: var(--black);
}
  
.btn-secondary:is(:hover, :focus) { 
    --background: hsla(0, 0%, 0%, 0.1); 
}

.has-scrollbar {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: inline mandatory;
}
  
.has-scrollbar > li {
    min-width: 100%;
    scroll-snap-align: start;
}
  
.has-scrollbar::-webkit-scrollbar { 
    height: 10px; 
}
  
.has-scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 20px;
    outline: 2px solid var(--bittersweet);
}
  
.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--bittersweet);
    border: 2px solid var(--white);
    border-radius: 20px;
}
  
.has-scrollbar::-webkit-scrollbar-button {  
    width: calc(25% - 40px); 
}
  
.card-banner {
    background: var(--cultured);
    position: relative;
    height: 350px;
    overflow: hidden;
}
  
.image-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transition: var(--transition-2);
}
  
.product-card:is(:hover, :focus) .image-contain { 
    transform: scale(1.1); 
}
  
.card-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--bittersweet);
    color: var(--white);
    padding: 5px 15px;
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    border-radius: 25px;
}
  
.card-action-list {
    position: absolute;
    top: 20px;
    right: -20px;
    opacity: 0;
    transition: var(--transition-1);
}
  
.product-card:is(:hover, :focus) .card-action-list {
    right: 20px;
    opacity: 1;
}
  
.card-action-item { position: relative; }
  
.card-action-item:not(:last-child) { 
    margin-bottom: 10px; 
}
  
.card-action-btn {
    background: var(--white);
    color: var(--rich-black-fogra-29);
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    transition: var(--transition-1);
}
  
.card-action-btn ion-icon { 
    --ionicon-stroke-width: 30px; 
}
  
.card-action-btn:is(:hover, :focus) {
    background: var(--bittersweet);
    color: var(--white);
}
  
.card-action-tooltip {
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
    width: max-content;
    background: var(--black_90);
    color: var(--white);
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}
  
.card-action-btn:is(:hover, :focus) + .card-action-tooltip { 
    opacity: 1; 
}
  
.card-content {
    padding: 24px 15px 0;
    text-align: center;
}
  
.card-cat {
    font-family: var(--ff-roboto);
    color: var(--onyx);
    font-size: var(--fs-7);
    margin-bottom: 12px;
}
  
.card-cat-link {
    display: inline-block;
    color: inherit;
    transition: var(--transition-1);
}
  
.card-cat-link:is(:hover, :focus) { 
    color: var(--bittersweet); 
}
  
.product-card .card-title { margin-bottom: 12px; }
  
.product-card .card-title > a {
    color: inherit;
    transition: var(--transition-1);
}
  
.product-card .card-title > a:is(:hover, :focus) { 
    color: var(--bittersweet); 
}
  
.card-price {
    color: var(--bittersweet);
    font-family: var(--ff-roboto);
    font-weight: var(--fw-600);
}
  
.card-price del {
    color: var(--gray-x-11-gray);
    margin-left: 8px;
}
  
.btn-link {
    --background: none;
    --border-color: none;
    padding: 0;
    margin-inline: auto;
    max-width: max-content;
    font-family: var(--ff-roboto);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    padding-bottom: 6px;
    border-bottom: 1px solid var(--white);
}
  
.btn-link:is(:hover, :focus) { 
    border-color: transparent; 
}
  

/* ======= Header Section/Seção de Cabeçalho ======= */
.header {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active { 
    box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1); 
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) { 
    background: var(--salmon); 
}

.nav-open-btn ion-icon { 
    --ionicon-stroke-width: 40px; 
}

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  font-family: var(--ff-roboto);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon { 
    --ionicon-stroke-width: 55px; 
}

.nav-close-btn:is(:hover, :focus) { 
    color: var(--bittersweet); 
}

.navbar .logo {
  background: var(--maximum-blue-green_10);
  padding-block: 50px 40px;
}

.navbar .logo img { 
  margin-inline: auto; 
}

.navbar-list,
.nav-action-list { 
  margin: 30px; 
}

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { 
  color: var(--bittersweet); 
}

.navbar-item:not(:last-child) { 
  border-bottom: 1px solid var(--gainsboro); 
}

.nav-action-list > li:first-child { 
  display: none; 
}

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) { 
  color: var(--bittersweet); 
}

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


/* ======= Hero Section/Seção de heróis ======= */
.hero {
  background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
.hero-title { 
  margin-bottom: 10px; 
}
  
.hero-title > strong { 
 display: block; 
}
  
.hero-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-8);
  line-height: 1.8;
  max-width: 46ch;
  margin-bottom: 25px;
}



/* ======= Collection Section/Seção de coleção ======= */
.collection-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px 25px;
  }




























/* ======= Responsive/Responsividade ======= */
@media (max-width: 991px){

    html {
        font-size: 55%;
    }

}

@media (max-width: 768px){


}

@media (max-width: 450px){

    html {
        font-size: 50%;
    }

}